<a href="https://colab.research.google.com/github/KayVonte/Snake-Code/blob/main/Week2/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# IMPORT STATEMENTS
# (None)

# FUNCTION DEFINITIONS
# (None)

# PROGRAM LOGIC
# 1. Print the total minutes in a movie (2 * 60 + 45).
print( ( 2 * 60 ) + 45)
# 2. Print the years since 1947 (2026 - 1947).
print( 2026 - 1947 )
# 3. Print the total cost of 7 books (7 * 35).

165
79